@import "../../UI/theme/variables.scss";
@import "../../UI/theme/mixins.scss";

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.not-found__title {
  color: $basic-blue;
  @include font(24px, 28px);
}

.not-found__link {
  color: $basic-tomato;

  &:focus,
  &:hover {
    opacity: 0.7;
  }
}
