$basic-blue: #3d405b;
$basic-tomato: #e07a5f;
$milk-white: #f4f1de;
$light-yellow: #f2cc8f;
$light-blue: #76dcfc;
$basic-white: #fff;
$blue-light: #81b29a;
$light-grey: #808080;
$basic-black: #000000;
$opacity-blue-light: #8bc2a7;
